/* ================================
   WHATSAPP FLOAT
================================ */

.whatsapp-float{

    position:fixed;

    right:25px;
    bottom:25px;

    z-index:999;

    text-decoration:none;

}

/* Pulse */

.whatsapp-pulse{

    position:absolute;

    inset:0;

    background: #B32127;

    border-radius:60px;

    animation:pulse 2s infinite;

    opacity:.35;

}

@keyframes pulse{

0%{
transform:scale(1);
opacity:.45;
}

70%{
transform:scale(1.15);
opacity:0;
}

100%{
transform:scale(1.15);
opacity:0;
}

}

/* ========================== */

.whatsapp-content{

    position:relative;

    display:flex;
    align-items:center;

    gap:14px;

    background: #B32127;

    color:#fff;

    padding:14px 22px;

    border-radius:60px;

    box-shadow:0 15px 35px rgba(0,0,0,.18);

    transition:.35s;

}

.whatsapp-content:hover{

    transform:translateY(-6px);

    background: #B32127;

}

/* Icon */

.whatsapp-icon{

    width:54px;
    height:54px;

    border-radius:50%;

    background:#fff;

    color: #B32127;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:2rem;

    flex-shrink:0;

}

/* Text */

.whatsapp-text{

    display:flex;
    flex-direction:column;

}

.small-text{

    font-size:.75rem;
    opacity:.9;
    font-weight:500;

}

.big-text{

    font-size:.95rem;
    font-weight:700;

}

/* Mobile */

@media(max-width:768px){

.whatsapp-text{

display:none;

}

.whatsapp-content{

padding:10px;

}

.whatsapp-icon{

width:58px;
height:58px;

font-size:2rem;

}

.whatsapp-pulse{

border-radius:50%;

}

}