.navbar{

position:fixed;
top:0;
left:0;
width:100%;
z-index:999;
padding:18px 0;
transition:.35s;

}

.navbar.scrolled{

background:#fff;
box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.navbar .container{

max-width:1250px;
margin:auto;
padding:0 20px;

display:flex;
justify-content:space-between;
align-items:center;

}

.logo{

height:60px;

}

.nav-links{

display:flex;
gap:35px;
list-style:none;
color: white;

}

.nav-links a{

text-decoration:none;
font-weight:600;
color: red;

}

.nav-links a:hover{

color:#16994d;

}

.nav-actions{

display:flex;
align-items:center;
gap:20px;

}

.nav-btn{

display:flex;
align-items:center;
gap:10px;

padding:15px 28px;

border-radius:50px;

background: red;
color:#fff;

text-decoration:none;
font-weight:700;

transition:.35s;

}

.nav-btn:hover{

background:#7b1022;

}

.menu-toggle{

display:none;
font-size:1.5rem;
cursor:pointer;

}

@media(max-width:900px){

.menu-toggle{

display:block;

}

.nav-links{

position:absolute;

top:100%;
left:0;

width:100%;

background:white;

padding:30px;

display:none;

flex-direction:column;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.nav-links.active{

display:flex;

}

.nav-btn{

display:none;

}

}